#!/usr/bin/make -f

ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

CFLAGS   += -Wall -Wextra -pipe -g0 -O3 -march=native -fomit-frame-pointer
CXXFLAGS += -Wall -Wextra -pipe -g0 -O3 -march=native -fomit-frame-pointer

ifneq (alpha,$(ARCH))
  OPTIONS += --disable-debug --with-posix-fallocate
endif

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(OPTIONS)

override_dh_clean:
	dh_clean
	rm -fr test/Makefile

override_dh_installchangelogs:
	dh_installchangelogs debian/ChangeLog
